* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #d4e5f5; 
}


.sidebar {
    width: 290px;
    background-color:  rgb(15, 143, 5); 
    color: white;
    padding: 20px 0;
    box-shadow: 4px 0 10px rgba(79, 217, 11, 0.1);
}


.store-name {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    color: #e9f5ed;
    border-bottom: 1px solid rgba(23, 122, 6, 0.15);
    margin-bottom: 15px;
}


.menu-group {
    margin-bottom: 20px;
}

.group-title {
    font-family: Georgia, serif;
    font-size: 19px;
    text-transform: uppercase;
    color: #072d66; 
    padding: 10px 20px;
    letter-spacing: 1px;
}


.menu-item {
    display: block;
    color: #d8f3dc; 
    text-decoration: none;
    padding: 14px 20px;
    font-size: 20px; /* Bigger font size */
    transition: all 0.2s ease;
}

.menu-item:hover {
    background-color: #2d6a4f; 
    color: #ffffff;
    padding-left: 25px; 
}

.menu-item.active {
    background-color: #40916c; 
    color: #ffffff;
    font-weight: bold;
    border-left: 5px solid #74c69d; 
}

/* ===== EMOJI ICON SPACING ===== */
.icon {
    margin-right: 12px;
    display: inline-block;
}

/* ===== MAIN CONTENT AREA ===== */
.main-content {
    flex-grow: 1;
    padding: 40px;
    color: #2d3748;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.main-content h1 {
    font-size: 35px;
    color: #1b4332;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 18px;
    color: #4a5568;
}
